.my-message {
  max-width: 400px;
  margin-left: auto;
  flex-shrink: 1;
  padding: 11px;
  color: var(--chat-mytext-color);
  background-color: var(--mymessage-background-color);
  box-sizing: content-box;
  border-radius: 12px 12px 0 12px;
  border: 1px solid var(--input-stroke-color);
}
