.input-field {
  border-bottom: 1px solid var(--second-color);
  margin-bottom: 7px;

  label {
    display: block;
    color: var(--placeholder-color);
    margin-bottom: 8px;
  }

  input {
    display: block;
    width: 100%;
    color: var(--input-text-color);
    background-color: transparent;
    border: none;
    font-size: 13px;
    line-height: 13px;
  }
}
