.foreign-message {
  padding: 11px;
  max-width: 400px;
  margin-right: auto;
  color: var(--chat-text-color);
  background-color: var(--message-background-color);
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid var(--input-stroke-color);

  &:first-child {
    border-radius: 0 12px 12px 12px;
  }
}
