.foreign-message_image {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  border: none;
  position: relative;

  .time {
    color: var(--main-text-color);
    position: absolute;
    background-color: rgba(82, 82, 82, 0.5);
    right: 11px;
    bottom: 18px;
    border-radius: 10px;
    width: 37px;
    text-align: center;
    font-size: 9px;
    padding: 1px 0;
  }

  img {
    max-width: 400px;
  }
}
